## SQL의 분류 
- DML(Data Maipulation Language)
  - 데이터 조작 언어
  - 데이터를 조작(선택, 삽입, 수정, 삭제)하는데 사용하는 언어
  - DML 구문이 사용되는 대상은 테이블의 행
  - DML 사용하기 위해서는 꼭 그 이전에 테이블이 정의되어 있어야 함
  - SQL문 중 SELECT, INSERT, UPDATE, DELETE가 이 구문에 해당
  - 트랜잭션이 발생하는 SQL도 이 DML에 속함
  
- DDL(Data Definition Language)
  - 데이터 정의 언어
  - 데이터베이스, 테이블, 뷰, 인덱스 등의 데이터 베이스 개체를 생성/삭제/변경하는 역할
  - CREATE, DROP, ALTER 구문
  - DDL은 트랜잭션을 발생시키지 않음
  - ROLLBACK이나 COMMIT 사용 불가
  - DDL문은 실행 즉시 MySQL에 적용
  
- DCL(Data Control Language)
  - 데이터 제어 언어
  - 사용자에게 어떤 권한을 부여하거나 빼앗을 때 주로 사용하는 구문
  - GRANT/REVOKE 등

### SQL 명령어
- SHOW DATABASES
  - 현재 서버에 어떤 DB가 있는지 보기
  
- USE
  - 사용할 데이터베이스 지정
  - 지정해 놓은 후 특별히 다시 USE문 사용하거나 다른 DB를 사용하겠다고 명시 하지 않은 이상 모든 SQL문은 지정 DB에서 수행
  - USE database_name
  - Workbench에서 직접 선택해 사용 가능
  - ex) USE WORLD
  
- SHOW TABLES
  - 데이터베이스 world의 테이블 이름 보기

- SHOW TABLE STATUS
  - 데이터베이스 테이블 정보 조회
  
- DESCRIBE(DESC)
  - 테이블에 무슨 열이 있는지 확인
  - ex) DESCRIBE city;
    ex) DESC city;

### LAB #1
- country 테이블과 countrylanguage 테이블 정보 보기
- ans)
   - DESCRIBE city;
   - DESC country;
   - DESC countrylanguage;

### SELECT
- <SELECT...FROM>
- 요구하는 데이터를 가져오는 구문
- 일반적으로 가장 많이 사용하는 구문
- 데이터베이스 내 테이블에서 원하는 정보를 추출
- SELECT의 구문 형식
  - SELECT select_expr
    - [FROM table_references]
    - [WHERE where_condition]
    - [GROUP BY {col_name | expr | position}]
    - [HAVING where_condition]
    - [ORDER BY {col_name | expr | position}]

- SELECT * FROM city;
  - city table에 있는 전체 low (전체 정보)를 볼 수 있다.
  - 이 때 * 는 all의 의미를 가지고 있다.
  
- SELECT Name, Population From city;
  - city table에서 Name, Population에 관한 정보를 가져오겠다.
  - Name, Population 순서 변경 시 출력 순서도 변경

### SELECT FROM WHERE
- Column (열) 에 대한 정보가 아닌 row(행)에 대한 정보를 얻고 싶을 때 WHERE구문을 사용한다.
- 기본적인 Where 절
  - 조회하는 결과에 특정한 조건으로 원하는 데이터만 보고 싶을 때 사용
  - SELECT 필드이름 FROM 테이블 이름 WEHRE 조건식;
  - 조건이 없을 경우 테이블의 크기가 클수록 찾는 시간과 노력이 증가

### 관계 연산자의 사용
- OR 연산자
- AND 연산자
- 조건 연산자(=, <, >, <=, >=, <>, != 등)
- 관계 연산자(NOT, AND, OR 등)
- 연산자의 조합으로 데이터를 효율적으로 추출

- MySQL 함수 및 연산자 :
- https://dev.mysql.com/doc/refman/8,0/en/functions.html

###### SELECT * FROM city 
###### WHERE Population >= 800000;
- city table에서 population의 수가 800000 이상인 정보 row에 대해 가져온다. 

##### SELECT * FROM city
##### WHERE Population < 80000 
##### AND Population > 70000;
- AND를 활용하여 조건을 추가 지정하여 찾을 수 있으며 줄 바꿈의 경우 임의적으로 내가 해준 것

### LAB2
- 한국에 있는 도시들 보기
- 미국에 있는 도시들 보기
- 한국에 있는 도시들 중에 인구 수가 1,000,000 이상인 도시보기

- DESC city;
- SELECT * FROM city
- WHERE Countrycode = 'KOR';
- AND Population >= 1000000;

### BETWEEN
- 데이터가 숫자로 구성되어 있어 연속적인 BETWEEN...AND 사용 가능
- SELECT * FROM city WHERE Population BETWEEN 700000 AND 800000

### IN
- 이산적인 값의 조건에서는 IN()사용 가능
  ####  SELECT * FROM city
  ####  WHERE Name IN('Seoul', 'New york', 'Tokyo')

#### LAB3
- 한국, 미국, 일본 도시들만 보기
   #### SELECT * FROM city
   #### WHERE Name IN('Seoul', 'New York', 'Tokyo')

### LIKE
- 문자열의 내용 검색하기 위해 LIKE 연산자 사용
- 문자 뒤에 %_ 무엇이든 허용
- 한 글자와 매치하기 위해서는 ' _ ' 사용
  - SELECT * FROM city
  - WHERE CountryCode LIKE 'KO_' // _가 한글자를 매칭해줌
  - WHERE CountryCode LIKE 'Tel %' // Tel로 시작하는 모든 문자를 가져와줌

#### Sub Query
- 서브 쿼리
- 쿼리문 안에 또 쿼리문이 들어 있는 것
- 서브 쿼리의 결과가 둘 이상이 되면 에러 발생
   #### SELECT * FROM city
   #### WHERE CountryCode = ( SELECT CountryCode 
   #### FROM city WHERE NAME = 'seoul');

 #### ANY
 - 서브쿼리의 여러 개의 결과 중 한가지만 만족해도 가능
 - SOME은 ANY와 동일한 의미로 사용
 - ANY 구문은 IN과 동일한 의미
 - 가장 작은 Population 값보다 큰 Population이 다 출력된다.
  ###  SELECT * FROM city
  ###  WHERE Population > SOME ( SELECT Population FROM city WHERE District = 'New York');

#### ALL
- 서브쿼리의 여러 개의 결과를 모두 만족 시켜야 함
- 즉, 위처럼 Population으로 수행할 경우 가장 큰 값보다 큰 결과를 출력하게 된다.

#### SELECT * FROM city
#### WHERE Population > ALL ( SELECT Population FROM city WHERE District = 'New York')

### ORDER BY
- 결과가 출력되는 순서를 조절하는 구문
- 기본적으로 오름차순 정렬
- 내림차순으로 정렬
  - 열 이름 뒤에 DESC 적어줄 것
- ASC(오름차순)는 default이므로 생략 가능

#### SELECT * FROM city
#### ORDER BY Population DESC

- ORDER BY 구문을 혼합해 사용하는 구문도 가능
#### SELECT * FROM city
#### ORDER BY CountryCode ASC, Population DESC

## LAB4
### - 인구수로 내림차순하여 한국에 있는 도시 보기
  #### SELECT * FROM city
  #### WHERE CountryCode = 'KOR'
  #### ORDER BY Population DESC;
  
### - 국가 면적 크기로 내림차순하여 나라 보기 (country table)
  #### SELECT * FROM country
  #### ORDER BY SurfaceArea DESC; // country table에서 확인 면적이 SurfaceArea임을 확인할 수 있었다.

#### DISTINCT
- 중복된 것은 1개씩만 보여주는 출력
- 테이블의 크기가 클수록 효율적이다.

#### SELECT DISTINCT CountryCode
#### FROM city

#### LIMIT
- 출력 개수를 제한
- 상위의 N개만 출력하는 'LIMIT N' 구문